.controlButton {
  display: block;
  border-radius: 5px;
  color: var(--theme-button-color);
  background-color: var(--theme-button-background);
  border: none;
  padding: .3rem .67rem;
  margin: 0 5px;
  font-weight: 400;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: var(--theme-button-background-hover);
  }
  &.active {
    background-color: var(--theme-button-background-active);
    color: var(--theme-button-color-active);
    text-shadow: 0 0 3px #111, 0 0 3px #111;
  }
  &:disabled {
    color: var(--theme-button-color-disabled);
  }
}

@media screen and (max-width: 768px) {
  .controlButton {
    flex: 1 1 30%;
  }
}