.modal {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  width: 500px;
  background: var(--theme-background);
  border: 1px solid var(--theme-border-color);
  box-shadow: 1rem 1rem 2rem rgba(black, 0.5);
  filter: blur(0);
  opacity: 1;
  visibility: visible;
  z-index: 3000;
  font-weight: 600;
  h2 {
    border-bottom: 1px solid var(--theme-border-color);
    padding: 1rem;
    margin: 0;
    cursor: move;
  }
  .content {
    padding: 1rem;
  }
  .actions {
    border-top: 1px solid var(--theme-border-color);
    background: var(--theme-background);
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    width: 90vw;
    left: calc(50% - 45vw);
  }
}