.header {
  width: 100%;
  z-index: 3000;
  text-align: center;
  backdrop-filter: saturate(180%) blur(5px);
  color: var(--theme-primary);
  background: var(--theme-background);
  opacity: .9;
  position: sticky;
  top: 0;
  border-bottom: var(--theme-border-color);
  white-space: nowrap;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  height: 80px;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;

  .heading {
    margin: .67rem 2rem;
  }

  .toggleSwitch {
    position: relative;
    display: inline-block;
    width: 2.8rem;
    height: 1.6rem;
    margin-left: 1rem;
    margin-top: 5px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .toggle {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--theme-primary);
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 24px;

      &::before {
        content: "";
        position: absolute;
        height: 1.2rem;
        width: 1.2rem;
        left: .2rem;
        bottom: .2rem;
        background-color: var(--theme-background);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
    }

    input:checked + .toggle {
      &::before {
        -webkit-transform: translateX(1.2rem);
        transform: translateX(1.2rem);
      }
    }
  }
}

.menuButton {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border: none;
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 25px;
  right: 15px;
  display: none;
  cursor: pointer;

  .menuToggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 22px;
      background-color: var(--theme-primary);
      transform: translateY(-4px);
      transition: transform .15s ease;
    }

    &::before {
      transform: translateY(-4px);
    }

    &::after {
      transform: translateY(4px);
    }

    &.expanded::before {
      transform: translateY(1px) rotate(45deg);
    }

    &.expanded::after {
      transform: translateY(0px) rotate(-45deg);
    }
  }
}

.navigationMenu ul {
  display: flex;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0 1rem;

    a {
      text-decoration: none;
      color: var(--theme-secondary);
      display: block;
      width: 100%;

      &:hover {
        color: var(--theme-primary);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: relative;
    opacity: 1;
  }

  .navbar .heading {
    margin: .67rem .67rem;
  }

  .menuButton {
    display: block;
  }

  .navigationMenu {
    ul {
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 80px);
      margin: 0;
      background-color: var(--theme-background);
      li {
        text-align: center;
        margin: 0;

        a {
          width: 100%;
          padding: 1.2rem 0;
        }
      }
    }

    &.expanded ul {
      display: block;
    }
  }
}