.sliderContainer {
  display: flex;
  align-items: center;
  padding: 5px;

  .sliderLabel {
    color: var(--theme-button-color);
    background-color: var(--theme-button-background);
    font-weight: 400;
    margin: 0 5px;
  }

  .sliderInput {
    -webkit-appearance: none;
    appearance: none;
    width: 120px;
    height: 12px;
    background-color: var(--theme-button-color-disabled);
    outline: none;
    opacity: 1.0;
    transition: opacity .2s;
    border-radius: 5px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: var(--theme-button-color);
      border-radius: 50%;
      cursor: pointer;
    }
  }
}